[build-system]
requires = ["setuptools >= 64.0", "wheel", "requests", "appdirs", "tqdm"]
build-backend = "setuptools.build_meta"

[tool]
[tool.commitizen]
name = "cz_conventional_commits"
version = "0.5.0"
tag_format = "v$version"
version_files = [
    "src/checkstyle/__init__.py",
]
